$bgcolor: #f8f4e7;
$bg: #f8f4e7;
@import url("https://fonts.googleapis.com/css2?family=Rufina:wght@700&display=swap");

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("../../../public/assets/BgColor.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    align-items: center;

    ::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 70%;
        height: 100%;
        background: linear-gradient(
            90deg,
            #16181b 0%,
            rgba(22, 24, 27, 0.7) 51.56%,
            rgba(22, 24, 27, 0) 100%
        );
        z-index: -1;
    }
    z-index: -1;
    overflow-x: hidden;

    .slogan {
        overflow: hidden;
        width: 40vw;
        h2 {
            font-weight: 90;
            color: #dcca87;
            font-size: 78px;
            line-height: 82px;
            font-weight: 200;
            margin-bottom: 20px;
        }

        p {
            color: #fff;
            overflow: hidden;
        }

        align-items: center;
    }
    @media screen and(max-width: 700px) {
        .slogan {
            width: 60%;

            h2 {
                font-size: 35px;
                line-height: 40px;
            }
        }

        background-position: center;
        background-size: cover;
    }
}

.conten {
    width: 100vw;
    color: black;
    overflow-x: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em 0;

    .card {
        width: 35%;
        display: flex;
        flex-flow: column wrap;
        padding: 2em;

        img {
            width: 60%;
            height: 50%;
            align-self: center;
        }

        h1 {
            font-family: "Rufina";
            text-align: center;
            font-weight: bold;
            font-size: 30px;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }

        p {
            text-align: center;
            letter-spacing: 0.02em;
        }
    }

    @media screen and (max-width: 768px) {
        .card {
            width: 90%;
            padding: 20px;
        }
        flex-direction: column;
    }
}

.Post {
    width: 100vw;
    background-color: $bgcolor;

    ul {
        display: flex;
        justify-content: center;
    }
    li {
        font-size: 1.4vw;
        display: inline-block;
        margin: 12px;
    }

    .kontainer-img {
        margin-top: 7em;
        display: flex;
        flex-direction: row;
        position: relative;

        .card-1 {
            img {
                padding-right: 3em;
            }
        }

        .card-2 {
            color: white;
            .absol-text {
                position: absolute;
                bottom: 9vh;
                width: 20%;
                right: 8vw;
                h2 {
                    font-size: 1.7vw;
                }

                p {
                    margin: 2em 0;
                    font-size: 12px;
                }
            }
        }

        .card-3 {
            color: white;

            .absol-text1 {
                width: 20%;
                position: absolute;
                bottom: 12vh;
                left: 3vw;
                h2 {
                    font-size: 1.7vw;
                }

                p {
                    margin: 2em 0;
                    font-size: 12px;
                }
            }
        }

        .card-4 {
            color: white;

            img {
                padding-left: 3em;
            }

            .absol-text2 {
                position: absolute;
                bottom: 11vh;
                left: 37vw;
                h2 {
                    font-size: 1.7vw;
                }

                p {
                    margin: 2em 0;
                    font-size: 12px;
                }

                width: 30%;
            }
        }

        .card-1 {
            height: 100%;

            .absol-text {
                width: 30%;
                color: white;
                position: absolute;
                right: 0;
                bottom: 12px;
                left: 2em;

                h2 {
                    font-size: 1.7vw;
                }

                p {
                    margin: 2em 0;
                    font-size: 12px;
                }

                margin-bottom: 22px;
            }

            .absol-text1 {
                @extend .absol-text;
                right: 0;
                left: 500px;
            }
        }

        @media screen and (max-width: 500px) {
            .card-1 {
                img {
                    width: 100vw;
                }
            }
        }
    }

    @media screen and (max-width: 500px) {
        ul {
            li {
                font-size: 12px;
            }
        }
    }

    .btn {
        display: flex;
        justify-content: center;
        padding: 3em 0;
        p {
            border: 3px solid black;
            padding: 0 1em;
        }
    }
}

.content-testi {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;

    .text {
        width: 60vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
            font-size: 22px;
            text-align: center;
            margin-bottom: 2em;
            font-weight: bold;
        }
    }

    .img-space {
        width: 86vw;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .card-img {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        text-align: center;

        .card-txt {
            margin-left: 1.5em;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
                font-weight: bold;
                font-size: 20px;
                margin-bottom: 7px;
            }
        }
        margin-bottom: 2em;
    }

    @media screen and (max-width: 500px) {
        .card-img {
            flex-flow: column wrap;
        }
        .text {
            width: 83vw;
            p {
                font-size: 12px;
            }
        }
        .img-space {
            img {
                width: 9vw;
            }
        }
    }
}

.Menu-content {
    margin-top: 7em;
    .Menu {
        .tulis {
            width: 27%;
            font-size: 3.4vw;
            font-weight: bold;
        }

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        p {
            align-self: center;
            border: 2px solid black;
            font-size: 1.3vw;
            padding: 1.1vw;
        }

        @media screen and(max-width: 700px) {
            .tulis {
                font-size: 17.7px;
            }

            p {
                font-size: 14px;
                padding: 0.9vw;
            }
        }
    }

    .gmbr {
        display: flex;
        flex-direction: row;

        .gmbr-1 {
            margin-top: 2em;
            padding: 0 0.7em;
            img {
                width: 100%;
                border-radius: 20px;
            }

            .pembungkus {
                margin: 1em;

                .arrow {
                    display: flex;
                    align-items: center;
                    font-size: 22px;
                    margin: 1em 0;

                    img {
                        margin: 0 1em;
                        width: 2vw;
                    }
                }

                .title {
                    font-family: "Rufina";
                    font-size: 2vw;
                    font-weight: bold;
                }

                img {
                    margin: 2em 0;
                }

                .pdes {
                    font-size: 1.4vw;
                }

                @media screen and (max-width: 700px) {
                    .title {
                        font-size: 14.7px;
                    }

                    .pdes {
                        font-size: 12.8px;
                    }

                    .arrow {
                        font-size: 14.7px;
                    }
                }
            }

            .txt {
                display: flex;
                flex-flow: row wrap;
                margin-bottom: 1em;

                span {
                    align-self: center;
                    margin: 0 1em;
                    width: 4px;
                    height: 4px;
                    background-color: black;
                    border-radius: 50%;
                }
            }
        }
        @media screen and (max-width: 768px) {
            flex-direction: column;

            img {
                width: 90%;
                height: 80%;
            }

            .gmbr-1 {
                .txt {
                    font-size: 15px;
                }
            }
        }
    }
}

.conta {
    padding: 2em;
}

.Reservation {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: $bg;
    padding: 2em;

    h1 {
        font-weight: bold;
        font-size: 3vw;
        font-family: "Rufina";
    }

    p {
        font-size: 1.2vw;
    }

    form {
        margin: 2em 0;
        display: flex;
        input {
            margin: 0 0.5em;
            width: 28vw;
        }
    }

    .booking {
        background-color: black;
        color: white;
        margin: 1em 0;
        padding: 12px 25px;
    }

    @media screen and (max-width: 500px) {
        h1 {
            font-size: 7vw;
        }

        p {
            font-size: 3vw;
        }

        form {
            flex-direction: column;

            input {
                margin: 1em 0;
                width: 60vw;
            }

            .booking {
                margin: 0;
            }
        }
    }
}

footer {
    padding: 2em;
    color: white;
    background-color: black;

    .img {
        display: flex;
        justify-content: space-between;
    }

    .footer {
        i {
            font-family: "Rufina";
            font-size: 3vw;
        }
        display: flex;
        justify-content: space-between;

        .social {
            width: 11vw;
            font-size: 1.8vw;

            .img {
                margin: 2em 0;
                width: 8vw;
            }

            p {
                margin: 2em 0;
                font-size: 1vw;
            }
        }
    }

    .footer-bottom {
        padding: 1em 0;
        p {
            padding: 2em 0;
            text-align: center;
        }
    }

    @media screen and (max-width: 600px) {
        .social {
            .img {
                img {
                    margin: 0 2px;
                    width: 12px;
                }
            }
        }
    }
}
